extends main

block content
	div#main.round_8.clearfix
		- image = ["/img/404_1.png", "/img/404_2.png", "/img/404_3.png", "/img/404_4.png"];
		- image = image[Math.floor(Math.random() * image.length)]
		center: img(src="#{image}",width="486px",height="378px")
