extends main

block content
	div#main.round_8.clearfix
		div.green.page_title.round_6
			h1.replace Forgot Password
		div#content.left
			form#contact_form(action='/forgotpassword', method="post")
				table
					tr
						td(style="text-align:right") email:
						td(style="text-align:left")
							input#name.text.round_6(size="15", name="email")
					tr
						td(colspan="2")
							input#submit.fancy(name="submit",type="submit",value="Retrieve Password")