extends main
include mixins/comments

block content
	div#main.round_8.clearfix
		div.content
			center: div.gallery_module(style="width:900px;height:400px")
				a.cboxElement(href="#{_attachment(image.url)}",rel="example1")
					img(style="max-width:900px;max-height:400px",src="#{_attachment(image.url)}")
			hr
			+comments(comments, 'image_'+image.id, cancomment)