extends ../main

block content
	div#main.round_8.clearfix
		div#content.left
			style.
				div.tabbar {
				  border-bottom: gray solid 1px;
				}
				ul.tabs {
				  list-style-type: none;
				  margin: 0;
				  padding: 0;
				}
				ul.tabs li {
				  border: gray solid 1px;
				  border-bottom: none;
				  float: left;
				  margin: 0 .25em 0 0;
				  padding: .25em .5em;
				}
				ul.tabs li a {
				  color: gray;
				  font-weight: bold;
				  text-decoration: none;
				}
				ul.tabs li.active {
				  background: gray;
				}
				ul.tabs li.active a {
				  color: white;
				}
			div.tabbar
				ul.tabs
					if adminpage == "front"
						li.active: a(href="/admin") Front
					else
						li: a(href="/admin") Front

					if adminpage == "womp"
						li.active: a(href="/admin/womp") Womp
					else
						li: a(href="/admin/womp") Womp
					if adminpage == "searchts3"
						li.active: a(href="/admin/searchts3") Search TS3 Logs
					else
						li: a(href="/admin/searchts3") Search TS3 Logs
				div.clearfix
			br
			block pagecontent
